<div id="gameboard-container">
  <!-- Game board -->

  <table cellpadding=0 cellspacing=0 class="gameboard">
    <tbody>
      <tr>
        <td id="study" class="room">Study</td>
        <td>
          <div id="hall-3" class="hall-horizontal"></div>
        </td>
        <td id="hall" class="room room">Hall</td>
        <td>
          <div id="hall-8" class="hall-horizontal"></div>
        </td>
        <td id="lounge" class="room">Lounge</td>
      </tr>
      <tr>
        <td class="hall">
          <div id="hall-1" class="hall-vertical"></div>
        </td>
        <td></td>
        <td class="hall">
          <div id="hall-6" class="hall-vertical"></div>
        </td>
        <td></td>
        <td class="hall">
          <div id="hall-11" class="hall-vertical"></div>
        </td>
      </tr>
      <tr>
        <td id="library" class="room">Library</td>
        <td>
          <div id="hall-4" class="hall-horizontal"></div>
        </td>
        <td id="billiard-room" class="room">Billiard Room</td>
        <td>
          <div id="hall-9" class="hall-horizontal"></div>
        </td>
        <td id="dining-room" class="room">Dining Room</td>
      </tr>
      <tr>
        <td class="hall">
          <div id="hall-2" class="hall-vertical"></div>
        </td>
        <td></td>
        <td class="hall">
          <div id="hall-7" class="hall-vertical"></div>
        </td>
        <td></td>
        <td class="hall">
          <div id="hall-12" class="hall-vertical"></div>
        </td>
      </tr>
      <tr>
        <td id="conservatory" class="room">Conservatory</td>
        <td>
          <div id="hall-5" class="hall-horizontal"></div>
        </td>
        <td id="ballroom" class="room">Ballroom</td>
        <td>
          <div id="hall-10" class="hall-horizontal"></div>
        </td>
        <td id="kitchen" class="room">Kitchen</td>
      </tr>
    </tbody>
  </table>

</div>

<div class="row d-flex justify-content-around">

  <button id="toast-button" class="btn btn-primary" (click)="showToaster()">
    Show Toast
  </button>

  <button id="suggest-player-modal" class="btn btn-primary" (click)="openModal(suggestionModal)">
    Make a suggestion
  </button>
</div>


<!-- Suggestion modal -->
<ng-template #suggestionModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Make a suggestion</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <label>Suggest a player:</label>
      <div class="form-group">
        <label>
          <input type="radio" id="colonelMustard" name="character" value="Colonel Mustard">
          Colonel Mustard
        </label>
      </div>
      <div class="form-group">
        <label>
          <input type="radio" id="missScarlet" name="character" value="Miss Scarlet">
          Miss Scarlet
        </label>
      </div>
      <div class="form-group">
        <label>
          <input type="radio" id="mrGreen" name="character" value="Mr. Green">
          Mr. Green
        </label>
      </div>
      <div class="form-group">
        <label>
          <input type="radio" id="mrsPeacock" name="character" value="Mrs. Peacock">
          Mrs. Peacock
        </label>
      </div>
      <div class="form-group">
        <label>
          <input type="radio" id="mrWhite" name="character" value="Mr. White">
          Mr. White
        </label>
      </div>
      <div class="form-group">
        <label>
          <input type="radio" id="professorPlum" name="character" value="Professor Plum">
          Professor Plum
        </label>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="handleSuggestion()">Suggest!</button>
  </div>
</ng-template>
