#current-game-status {
  text-align: center;
  font-style: italic;
  color: blueviolet;
  margin: auto;
}

#gameboard-container {
  width: 86%;
  margin: 30px auto;
}

/**
 * Game board styles
 */
.gameboard {
  width: 76%;
  margin: auto;
}

.room {
  border: 1px solid;
  text-align: center;
  padding: 25px;
  color: black;
  background: lightgrey;
  height: 116px;
}

.hall {
  text-align: center;
}

.hall-horizontal {
  border: 1px dashed;
  height: 50px;
  width: 100px;
}

.hall-vertical {
  border: 1px dashed;
  height: 100px;
  width: 50px;
  margin: auto;
}

.selectable-room {
  border: 1px solid darkgreen;
  background-color: lightgreen;
}

.close {
  outline: none;
}

.button-bottom-row {
  display: block;
  text-align: right;
  margin-right: 10%;
  margin-bottom: 50px;
}

/**
 * 1200px or greater
 */
@media only screen and (min-width: 1200px) {
  .hall-horizontal {
    margin-right: -41px;
  }
}

@media only screen and (max-width: 1200px) {
  .hall-horizontal {
    margin-right: 0;
  }
}

@media only screen and (min-width: 1200px) {
  .room {
    height: 150px;
  }
}
