
#current-game-status {
  text-align: center;
  font-style: italic;
  color: blue;
  margin: auto;
}

#gameboard-container {
  width: 86%;
  margin: 46px auto;
}

#my-cards-btn {
  background: darkgreen;
}

/**
 * Game board styles
 */
.gameboard {
  /* width: 76%;
  margin: auto; */
  display: table;
  table-layout: fixed;
  margin: auto;
}


.room {
  border: 1px solid;
  text-align: center;
  padding: 25px;
  color: black;
  background: lightgrey;
  height: 160px;
  width: 160px;
}

/* Jerry */
#study {
  background: url('../../assets/Study.png') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 90% 90%;
}

#hall {
  background: url('../../assets/Hall.png') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 90% 90%;
}

#lounge {
  background: url('../../assets/Lounge.png') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 90% 90%;
}

#library {
  background: url('../../assets/Library.png') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 90% 90%;
}

#billiard-room {
  background: url('../../assets/BilliardRoom.png') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 90% 90%;

}

#dining-room {
  background: url('../../assets/DiningRoom.png') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 90% 90%;
}

#conservatory {
  background: url('../../assets/Conservatory.png') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 90% 90%;
}

#ballroom {
  background: url('../../assets/Ballroom.png') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 90% 90%;
}

#kitchen {
  background: url('../../assets/Kitchen.png') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 90% 90%;
}

.hall {
  text-align: center;
}

.hall-horizontal {
  background-color: burlywood;
  border: 1px dashed;
  height: 50px;
  width: 100px;
}

.hall-vertical {
  background-color: burlywood;
  border: 1px dashed;
  height: 100px;
  width: 50px;
  margin: auto;
}

.selectable-room {
  /* border: 1px solid darkgreen; */
  border: 10px solid lightgreen;
  background-color: lightgreen;
}

.game-status-row {
  border: 1px dashed;
  width: 36%;
  margin: 19px auto 0px;
  height: 64px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

#accusation-btn {
  background: darkred;
  border: darkred;
}

.offer-clue-btn {
  background: darkgreen;
  border: darkgreen;
  color: white;
}

.reject-offer-clue-btn {
  background: darkred;
  border: darkred;
  color: white;
}

.close {
  outline: none;
}

.button-bottom-row {
  display: block;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 25px;
}

.btn {
  min-width: 135px;
}

.btn:disabled {
  cursor: not-allowed;
}

/**
 * 1200px or greater
 */
/* @media only screen and (min-width: 1200px) {
  .hall-horizontal {
    margin-right: -41px;
  }
}

@media only screen and (max-width: 1200px) {
  .hall-horizontal {
    margin-right: 0;
  }
}

@media only screen and (min-width: 1200px) {
  .room {
    height: 150px;
  }
} */

.notes {
  background: lightsalmon;
  display: block;
  position: relative;
  padding: 12px 5px 12px 35px;
  cursor: pointer;
  font-size: 17px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.notes-section-header {
  /* text-align: center; */
  font-style: italic;
  text-decoration: underline;
  padding: 3px;
  font-size: 19px;
}

.notes-section-content {
  /* margin: auto;
  width: 600px; */
}

.checkbox-inline {
  padding-left: 13px;
}