<div class="row game-status-row">
  <p id="current-game-status">{{ currentStatus }}</p>
</div>

<div id="gameboard-container">
  <!-- Game board -->

  <table cellpadding="0" cellspacing="0" class="gameboard">
    <tbody>
      <tr>
        <td id="study" #study (click)="boardClicked(study)" class="room">Study</td>
        <td>
          <div id="hall-3" #hall3 (click)="boardClicked(hall3)" class="hall-horizontal"></div>
        </td>
        <td id="hall" #hall (click)="boardClicked(hall)" class="room">Hall</td>
        <td>
          <div id="hall-8" #hall8 (click)="boardClicked(hall8)" class="hall-horizontal"></div>
        </td>
        <td id="lounge" #lounge (click)="boardClicked(lounge)" class="room">Lounge</td>
      </tr>
      <tr>
        <td class="hall">
          <div id="hall-1" #hall1 (click)="boardClicked(hall1)" class="hall-vertical"></div>
        </td>
        <td></td>
        <td class="hall">
          <div id="hall-6" #hall6 (click)="boardClicked(hall6)" class="hall-vertical"></div>
        </td>
        <td></td>
        <td class="hall">
          <div id="hall-11" #hall11 (click)="boardClicked(hall11)" class="hall-vertical"></div>
        </td>
      </tr>
      <tr>
        <td id="library" #library (click)="boardClicked(library)" class="room">Library</td>
        <td>
          <div id="hall-4" #hall4 (click)="boardClicked(hall4)" class="hall-horizontal"></div>
        </td>
        <td id="billiard-room" #billiardRoom (click)="boardClicked(billiardRoom)" class="room">Billiard Room</td>
        <td>
          <div id="hall-9" #hall9 (click)="boardClicked(hall9)" class="hall-horizontal"></div>
        </td>
        <td id="dining-room" #diningRoom (click)="boardClicked(diningRoom)" class="room">Dining Room</td>
      </tr>
      <tr>
        <td class="hall">
          <div id="hall-2" #hall2 (click)="boardClicked(hall2)" class="hall-vertical"></div>
        </td>
        <td></td>
        <td class="hall">
          <div id="hall-7" #hall7 (click)="boardClicked(hall7)" class="hall-vertical"></div>
        </td>
        <td></td>
        <td class="hall">
          <div id="hall-12" #hall12 (click)="boardClicked(hall12)" class="hall-vertical"></div>
        </td>
      </tr>
      <tr>
        <td id="conservatory" #conservatory (click)="boardClicked(conservatory)" class="room">Conservatory</td>
        <td>
          <div id="hall-5" #hall5 (click)="boardClicked(hall5)" class="hall-horizontal"></div>
        </td>
        <td id="ballroom" #ballroom (click)="boardClicked(ballroom)" class="room">Ballroom</td>
        <td>
          <div id="hall-10" #hall10 (click)="boardClicked(hall10)" class="hall-horizontal"></div>
        </td>
        <td id="kitchen" #kitchen (click)="boardClicked(kitchen)" class="room">Kitchen</td>
      </tr>
    </tbody>
  </table>

</div>
<!-- Button row -->
<div class="row button-bottom-row">
  <button id="accusation-btn" [disabled]="!isMyTurn || hasMadeAccusation" class="btn btn-primary"
    (click)="openModalAccusation(accusationModal)">
    Accuse!
  </button>
  &nbsp;&nbsp;
  <button id="suggestion-btn" [disabled]="disableSuggestionButton()" class="btn btn-primary"
    (click)="openModalSuggestion(suggestionModal)">
    Suggest!
  </button>
  &nbsp;&nbsp;
  <button id="my-cards-btn" class="btn btn-secondary" (click)="openMyCardsModal(myCardsModal)">
    My Cards
  </button>
  &nbsp;&nbsp;
  <button id="end-turn-btn" [disabled]="!isMyTurn" class="btn btn-secondary" (click)="endTurn()">
    End turn
  </button>
</div>
<!-- End Button row -->
<!-- Accusation modal -->
<ng-template #accusationModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Make an accusation</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-4">
        <form>
          <label>Player:</label>
          <div class="form-group">
            <div class="form-group">
              <label>
                <input type="radio" id="modalColonelMustard" name="character" value="Colonel Mustard">
                Colonel Mustard
              </label>
            </div>
            <div class="form-group">
              <label>
                <input type="radio" id="modalMissScarlet" name="character" value="Miss Scarlet">
                Miss Scarlet
              </label>
            </div>
            <div class="form-group">
              <label>
                <input type="radio" id="modalMrGreen" name="character" value="Mr. Green">
                Mr. Green
              </label>
            </div>
            <div class="form-group">
              <label>
                <input type="radio" id="modalMrsPeacock" name="character" value="Mrs. Peacock">
                Mrs. Peacock
              </label>
            </div>
            <div class="form-group">
              <label>
                <input type="radio" id="modalMrWhite" name="character" value="Mr. White">
                Mr. White
              </label>
            </div>
            <div class="form-group">
              <label>
                <input type="radio" id="modalProfessorPlum" name="character" value="Professor Plum">
                Professor Plum
              </label>
            </div>
          </div>
        </form>
      </div>
      <div class="col-4">
        <form>
          <label>Weapon:</label>
          <div class="form-group">
            <div class="form-group">
              <label>
                <input type="radio" id="candlestick" name="weapon" value="Candlestick">
                Candlestick
              </label>
            </div>
            <div class="form-group">
              <label>
                <input type="radio" id="revolver" name="weapon" value="Revolver">
                Revolver
              </label>
            </div>
            <div class="form-group">
              <label>
                <input type="radio" id="knife" name="weapon" value="Knife">
                Knife
              </label>
            </div>
            <div class="form-group">
              <label>
                <input type="radio" id="leadPipe" name="weapon" value="Lead Pipe">
                Lead Pipe
              </label>
            </div>
            <div class="form-group">
              <label>
                <input type="radio" id="rope" name="weapon" value="Rope">
                Rope
              </label>
            </div>
            <div class="form-group">
              <label>
                <input type="radio" id="wrench" name="weapon" value="Wrench">
                Wrench
              </label>
            </div>
          </div>
        </form>
      </div>
      <div class="col-4">
        <form>
          <label>Room:</label>
          <div class="form-group">
            <div class="form-group">
              <label>
                <input type="radio" id="suggest-study" name="room" value="Study">
                Study
              </label>
            </div>
            <div class="form-group">
              <label>
                <input type="radio" id="suggest-hall" name="room" value="Hall">
                Hall
              </label>
            </div>
            <div class="form-group">
              <label>
                <input type="radio" id="suggest-lounge" name="room" value="Lounge">
                Lounge
              </label>
            </div>
            <div class="form-group">
              <label>
                <input type="radio" id="suggest-library" name="room" value="Library">
                Library
              </label>
            </div>
            <div class="form-group">
              <label>
                <input type="radio" id="suggest-billiardRoom" name="room" value="Billiard Room">
                Billiard Room
              </label>
            </div>
            <div class="form-group">
              <label>
                <input type="radio" id="suggest-diningRoom" name="room" value="Dining Room">
                Dining Room
              </label>
            </div>
            <div class="form-group">
              <label>
                <input type="radio" id="suggest-conservatory" name="room" value="Conservatory">
                Conservatory
              </label>
            </div>
            <div class="form-group">
              <label>
                <input type="radio" id="suggest-ballroom" name="room" value="Ballroom">
                Ballroom
              </label>
            </div>
            <div class="form-group">
              <label>
                <input type="radio" id="suggest-kitchen" name="room" value="Kitchen">
                Kitchen
              </label>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="handleAccusation()">Accuse!</button>
  </div>
</ng-template>
<!-- End Accusation modal -->

<!-- Suggestion modal -->
<ng-template #suggestionModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Make a suggestion</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-6">
        <form>
          <label>Player:</label>
          <div class="form-group">
            <div class="form-group">
              <label>
                <input type="radio" id="modalColonelMustard" name="character" value="Colonel Mustard">
                Colonel Mustard
              </label>
            </div>
            <div class="form-group">
              <label>
                <input type="radio" id="modalMissScarlet" name="character" value="Miss Scarlet">
                Miss Scarlet
              </label>
            </div>
            <div class="form-group">
              <label>
                <input type="radio" id="modalMrGreen" name="character" value="Mr. Green">
                Mr. Green
              </label>
            </div>
            <div class="form-group">
              <label>
                <input type="radio" id="modalMrsPeacock" name="character" value="Mrs. Peacock">
                Mrs. Peacock
              </label>
            </div>
            <div class="form-group">
              <label>
                <input type="radio" id="modalMrWhite" name="character" value="Mr. White">
                Mr. White
              </label>
            </div>
            <div class="form-group">
              <label>
                <input type="radio" id="modalProfessorPlum" name="character" value="Professor Plum">
                Professor Plum
              </label>
            </div>
          </div>
        </form>
      </div>
      <div class="col-6">
        <form>
          <label>Weapon:</label>
          <div class="form-group">
            <div class="form-group">
              <label>
                <input type="radio" id="candlestick" name="weapon" value="Candlestick">
                Candlestick
              </label>
            </div>
            <div class="form-group">
              <label>
                <input type="radio" id="revolver" name="weapon" value="Revolver">
                Revolver
              </label>
            </div>
            <div class="form-group">
              <label>
                <input type="radio" id="knife" name="weapon" value="Knife">
                Knife
              </label>
            </div>
            <div class="form-group">
              <label>
                <input type="radio" id="leadPipe" name="weapon" value="Lead Pipe">
                Lead Pipe
              </label>
            </div>
            <div class="form-group">
              <label>
                <input type="radio" id="rope" name="weapon" value="Rope">
                Rope
              </label>
            </div>
            <div class="form-group">
              <label>
                <input type="radio" id="wrench" name="weapon" value="Wrench">
                Wrench
              </label>
            </div>
          </div>
        </form>
      </div>
      <!-- <div class="col-4">
        <form>
          <label>Room:</label>
          <div class="form-group">
            <div class="form-group">
              <label>
                <input type="radio" id="suggest-study" name="room" value="Study">
                Study
              </label>
            </div>
            <div class="form-group">
              <label>
                <input type="radio" id="suggest-hall" name="room" value="Hall">
                Hall
              </label>
            </div>
            <div class="form-group">
              <label>
                <input type="radio" id="suggest-lounge" name="room" value="Lounge">
                Lounge
              </label>
            </div>
            <div class="form-group">
              <label>
                <input type="radio" id="suggest-library" name="room" value="Library">
                Library
              </label>
            </div>
            <div class="form-group">
              <label>
                <input type="radio" id="suggest-billiardRoom" name="room" value="Billiard Room">
                Billiard Room
              </label>
            </div>
            <div class="form-group">
              <label>
                <input type="radio" id="suggest-diningRoom" name="room" value="Dining Room">
                Dining Room
              </label>
            </div>
            <div class="form-group">
              <label>
                <input type="radio" id="suggest-conservatory" name="room" value="Conservatory">
                Conservatory
              </label>
            </div>
            <div class="form-group">
              <label>
                <input type="radio" id="suggest-ballroom" name="room" value="Ballroom">
                Ballroom
              </label>
            </div>
            <div class="form-group">
              <label>
                <input type="radio" id="suggest-kitchen" name="room" value="Kitchen">
                Kitchen
              </label>
            </div>
          </div>
        </form>
      </div> -->
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="handleSuggestion()">Suggest!</button>
  </div>
</ng-template>
<!-- End Suggestion modal -->

<!-- My Cards modal -->
<ng-template #myCardsModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">My Cards</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <!-- <div class="col-4">
          <label>Character:</label>
          <ul>
            <li *ngFor="let card of myCards">
              {{ card }}
            </li>
          </ul>
      </div>
      <div class="col-4">
        <label>Weapon:</label>
        <ul>

        </ul>
      </div>
      <div class="col-4">
        <label>Room:</label>
        <ul>

        </ul>

      </div> -->
      <div class="col-12">
        <label>Cards: </label>&nbsp;&nbsp;
        <ul>
          <li *ngFor="let card of myCards">
            {{ card.value }}
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="handleSuggestion()">Suggest!</button>
  </div> -->
</ng-template>
<!-- End My Cards Modal -->

<!-- Offer Clue modal -->
<ng-template #offerClueModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Offer Clue</h4>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-12">
        <span>
          {{ lastSuggestion }}
        </span>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-12">
        <label>Cards:</label>&nbsp;&nbsp;
        <select id="offerClueSelectDropdown">
          <option *ngFor="let card of myCards" id="card.id">
            {{ card.value }}
          </option>
        </select>
      </div>
      <!-- <div class="col-4">
          <label>Weapon:</label>
          <ul>
  
          </ul>
        </div>
        <div class="col-4">
          <label>Room:</label>
          <ul>
  
          </ul>s
  
        </div> -->
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark offer-clue-btn" (click)="handleOfferClue()">Offer Clue</button>
    <button type="button" class="btn btn-outline-dark reject-offer-clue-btn"
      (click)="handleRejectOfferClue()">Reject</button>
  </div>
</ng-template>
<!-- End Offer Clue Modal -->
<button hidden style="display:none;" id="offer-clue-modal-btn" (click)="openOfferClueModal(offerClueModal)"></button>

<div class="notes">
  <h4>Notes Keeping: </h4>
  <h5>Suspects Eliminated</h5>
  <form>
    <label class="checkbox-inline">
      <input type="checkbox" value=""> Colonel Mustard;
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" value=""> Miss Scarlet;
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" value=""> Mrs. Peacock;
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" value=""> Mr. Green;
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" value=""> Mr. White;
    </label>    
    <label class="checkbox-inline">
      <input type="checkbox" value=""> Professor Plum;
    </label>    
  </form>
  <h5>Weapon Eliminated</h5>
  <form>
    <label class="checkbox-inline">
      <input type="checkbox" value=""> Candle Stick;
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" value=""> Knife;
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" value=""> Lead Pipe;
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" value=""> Revolver;
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" value=""> Rope;
    </label>    
    <label class="checkbox-inline">
      <input type="checkbox" value=""> Wrench;
    </label>    
  </form>
  <h5>Room Eliminated</h5>
  <form>
    <label class="checkbox-inline">
      <input type="checkbox" value=""> Study;
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" value=""> Hall;
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" value=""> Lounge;
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" value=""> Library;
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" value=""> Billiard Room;
    </label>    
    <label class="checkbox-inline">
      <input type="checkbox" value=""> Dining Room;
    </label>    
    <label class="checkbox-inline">
      <input type="checkbox" value=""> Conservatory;
    </label>  
    <label class="checkbox-inline">
      <input type="checkbox" value=""> Ballroom;
    </label>  
    <label class="checkbox-inline">
      <input type="checkbox" value=""> Kitchen;
    </label>  
  </form>
</div>
