#gameboard-container {
  position: relative;
  top: 30px;
  text-align: center;
}

#gameboard {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

#toast-button {
  margin-top: 50px;
}

.game-title {
  margin-top: 10px;
  display: block;
  text-align: center;
}

.room-id {
  font-weight: bold;
}

.upper-left-room-id {
  margin: 6px 4px 5px 5px;
  font-weight: bold;
}
