<div class="container">
  <div class="menu">
    <div class="header-menu">
      <h3 class="how-to-play-header">How To Play</h3>
    </div>
    <div class="row">
      <div class="col col-6 offset-3">
        <h4 class="form-title">Create a new game</h4>
        <div>
          <p>1. Enter a username and select the number of players</p>
          <p>2. Click on new game.</p>
        </div>
        <form>
          <div class="form-group row">
            <input [(ngModel)]="creatorPlayerName" class="form-control" type="text" name="name" placeholder="Enter your name"
              required>
          </div>
          <div class="form-group row">
            <!-- <input [(ngModel)]="numberOfPlayers" class="form-control" type="text" name="name" placeholder="Enter the number of players"
              required> -->
              <select [(ngModel)]="numberOfPlayers" name="numberOfPlayers" class="form-control">
                  <option disabled selected>Select the number of players</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
              </select>

          </div>
          <div class="form-group row">
            <button class="btn btn-primary" type="button" (click)="createGame()">New Game</button>
          </div>
        </form>
        <div class="row error" *ngIf="createGameError">
          <p>{{ createGameErrorMessage }}</p>
        </div>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col col-6 offset-3">
        <h4 class="form-title">Join an existing game</h4>
        <div>
          <p>1. Enter a username and the room id.</p>
          <p>2. Click on join game.</p>
        </div>
        <form>
          <div class="form-group row">
            <input [(ngModel)]="joiningPlayerName" class="form-control" type="text" name="name" id="nameJoin"
              placeholder="Enter your name" required>
          </div>
          <div class="form-group row">
            <input [(ngModel)]="roomId" class="form-control" type="text" name="room" id="room" placeholder="Enter Game ID"
              required>
          </div>
          <div class="form-group row">
            <button id="join" class="btn btn-primary" type="button" (click)="joinGame()">Join Game</button>
          </div>
        </form>
        <div class="row error" *ngIf="joinGameError">
          <p>{{ joinGameErrorMessage }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
